 .project {
    position: relative;
  }
  
  .arrow-button {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
/* styles.css */
.outline-text {
  background-color: white;
  color: white; /* Set the text color to match the background */
  display: inline-block; /* Ensures the text gets outlined without overflow */
  padding: 5px; /* Add some padding for space around the text */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Apply the outline effect */
}
.activeNavLink {
  font-weight: bold;
  text-decoration: underline;
}
/* Add this to your CSS file (e.g., Home.module.css) */
/* Add this to your CSS file (e.g., Home.module.css) */
.section-large {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem; /* Add some margin at the bottom for spacing */
  padding: 2rem; /* Add padding for some internal spacing */
  box-sizing: border-box;
}


/* Ensure sections are centered within their containers */
.section-large > div {
  max-width: 100%;
  margin: 0 auto;
}

.dark .section-large {
  background-color: #1a202c; /* Dark background color */
  color: #cbd5e0; /* Light text color */
}

.light .section-large {
  background-color: #ff0000; /* Light background color */
  color: #2d3748; /* Dark text color */
}


 
  

  
  
  